.click-selector {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #ff0000;
  position: absolute;pointer-events: none
}
.select-pain-container {
  position: relative;
  height: calc(70vh - 20px);
  width: fit-content;
  margin: 0 auto;
  overflow: hidden;
}
.select-pain-container img {
  position: relative;
  width: auto;
  height: 100%;
  object-fit: contain;
  pointer-events: none
}
