
<mat-drawer-container>
  <mat-drawer #drawer class="main-drawer"
              mode="over"
              (click)="drawer.toggle()"
              [(opened)]="openNavbar">
    <a [routerLink]="['patients']" class="navigation-logo" tabindex="-1">
      <img src="assets/images/logo.png" alt="Logo">
    </a>
    <div class="main-drawer-menu">

      <a [routerLink]="['patients']" [routerLinkActive]="['active-link']" tabindex="0">
        <mat-icon>personal_injury</mat-icon>
        <span>Patients</span>
      </a>
      <a [routerLink]="['detection']" [routerLinkActive]="['active-link']" tabindex="0">
        <mat-icon>warning</mat-icon>
        <span>Warn-O-Meter</span>
      </a>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar>
      <button mat-icon-button (click)="toggleNavbar()" class="toolbar-menu mobile-only" aria-label="Menu button">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="">Soothify</h1>
      <div class="spacer mobile-only"></div>
      <div class="nav-menu desktop-only">
        <a mat-button [routerLink]="['patients']" [routerLinkActive]="['active-link']">Patients</a>
        <a mat-button [routerLink]="['detection']" [routerLinkActive]="['active-link']">Warn-O-Meter</a>
      </div>
      <div class="user-menu">
        <button mat-stroked-button class="user-menu-open-button"
                [matMenuTriggerFor]="menu"
                aria-label="Toolbar user profile">
          {{authService.firstname + " " + authService.lastname}}
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </div>
    </mat-toolbar>
    <main class="navigation-content padding">
      <router-outlet></router-outlet>
    </main>
  </mat-drawer-content>
</mat-drawer-container>
