/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #00344d;
  --primary-color-light: #035f8b;
  --primary-color-dark: #02283a;
  --secondary-color: #ffb59d;
  --secondary-color-light: #ffbca5;
  --secondary-color-dark: #ff9f84;
  --on-primary-color: #fff;
  --on-secondary-color: #fff;
  --error-color: #f3000f;
  --on-error-color: #ffdad6;
  --surface-color: #2c3134;
  --on-surface-color: #e2e2e5;
  --background-color: #191c1e;
  --on-background-color: #e2e2e5;
  --surface-color-dark: #283033;
  --surface-color-light: #3e4449;

}
html, body {
  background-color: var(--background-color);
  color: var(--on-background-color);
  height: 100%; }
* { box-sizing: border-box; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.centered-container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}
.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  margin: 0 auto;
  max-width: 350px;
  padding: 40px 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: var(--surface-color);
  color: var(--on-surface-color);
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
mat-card {
  background-color: var(--surface-color);
  color: var(--on-surface-color);
}
.vertical-layout {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.horizontal-center {
  display: flex;
  justify-content: center;
}
.align-stretch {
  display: flex;
  align-items: stretch;
}
.vertical-stretch-layout {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}
.center-text {
  text-align: center;
}
mat-toolbar {
  background-color: var(--surface-color);
  color: var(--on-surface-color);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
  z-index: 9;

}
.image-button {
  padding: 0 !important;
}
.image-button img {
  width: 100% !important;
  height: 100% !important;
  border-radius: 50%;
}
.user-menu-open-button {
  border-radius: 8px;
}
.desktop-only {
  display: none !important;
}
@media screen and (min-width: 700px) {
  .desktop-only {
    display: flex !important;
  }
  .mobile-only {
    display: none !important
  }
}


mat-drawer-container {
  height: 100%;
  display: flex;
}
mat-drawer {
  position: relative;
  width: 250px;
  border: none !important;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
}
.navigation-logo {
  text-decoration: none !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border: none !important;
}
.navigation-logo > img {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 150px;

}
.main-drawer-menu {
  padding-top: 25px;
}
.main-drawer-menu > a {
  display:flex;
  align-items: center;
  justify-content: flex-start;
  order: -1;

  height: 45px;
  padding-left: 25px;
  color: var(--on-surface-color);
  text-decoration: none !important;
}
.main-drawer-menu > a:hover {
  background-color: var(--surface-color-light);
}
.main-drawer-menu > a.active-link {
  background-color: var(--on-primary-color);
  background: var(--primary-color-light)
}
.main-drawer-menu > a.active-link:hover {
  background: var(--primary-color-dark)
}
.main-drawer-menu > a > span {
  margin-left: 30px;
  white-space: nowrap;
}
mat-drawer-content {
  height: 100%;
  overflow: hidden !important;
  display: flex !important;
  flex-flow: column !important;
}

mat-toolbar {
  gap: 10px;
  box-shadow: 1px 3px 8px 0 rgba(0, 0, 0, 0.16);
  flex-shrink: 0;
  z-index: 9;
}
.right-aligned {
  margin-left: auto;
}
.padding {
  padding: 10px !important;
}
.padding--large {
  padding: 20px !important;
}

.spacer {
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
}
.nav-menu > a.active-link {
  border-bottom: 2px solid var(--secondary-color);
}
.button-row {
  display: flex;
  flex-flow: row;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
}
.navigation-content {
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
  > *:not(router-outlet) {
    display: flex;
    flex-flow: column;
    height: 100%;
  }
}
.full-width {
  width: 100%;
}
.horizontal-container {
  display: flex;
  flex-flow: row;
  gap: 10px;
  align-items: center;
}
.add-edit-container {
  width: 600px !important;
  max-width: 100% !important;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--surface-color);
  > * mat-form-field {
    width: 100%;
  }
}
.warning-color {
  color: var(--error-color);
}
.non-selectable, .non-selectable * {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.horizontal-list {
  display: flex;
  flex-flow: row;
  gap: 10px;
  align-items: center;
  width: 100%;
  overflow-x: auto;
}
.image-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.scrollable-y {
  overflow-y: auto;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
