<mat-expansion-panel (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
    <mat-panel-title style="font-weight: 500;">
      {{medication.name}}
    </mat-panel-title>
    <mat-panel-description>
      {{medication.amount}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div class="med-information" *ngIf="medication.sideeffects">
    <span class="warning-color">Information</span>
    <!-- list of side effects -->
    <p>
      {{medication.sideeffects}}
    </p>
  </div>
  <div class="button-row">
    <div></div>
    <div>
      <button mat-flat-button (click)="editMedication(medication)">Edit</button>
      <button mat-button color="warn" (click)="deleteMedication(medication)">Delete</button>
    </div>
  </div>
</mat-expansion-panel>
